# Configuración de la base de datos
DATABASE_URL="postgresql://admin:12345678@db:5432/taskflow?schema=public"

# Puerto para la aplicación backend
PORT=3000

# Configuración de autenticación (si es necesario)
# JWT_SECRET=tu_clave_secreta_aqui
# TOKEN_EXPIRATION=24h
